<div class="clearfix">
  <h4 class="float-left">Registered Users</h4>
  <input type="text" class="form-control-sm float-right" [(ngModel)]="searchString" placeholder="search...">
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile</th>
      <th scope="col">Gender</th>
      <th scope="col">Profession</th>
      <th scope="col">Password</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of (users | searchFilter : searchString)">
      <td>{{user.firstName + ' ' + user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.mobile}}</td>
      <td>{{user.gender}}</td>
      <td>{{user.profession}}</td>
      <td>{{user.password}}</td>
    </tr>
  </tbody>
</table>