<div class="clearfix">
  <h4 class="float-left">Registered Users</h4>
  <div class="form-group float-right">
    <input type="text" class="form-control form-control-sm" [(ngModel)]="query" placeholder="search...">
  </div>
</div>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile</th>
      <th scope="col">Gender</th>
      <th scope="col">Profession</th>
      <th scope="col">Password</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users | searchList: query">
      <td>{{user.firstName}} {{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.mobile}}</td>
      <td>{{user.gender}}</td>
      <td>{{user.profession}}</td>
      <td>{{user.password}}</td>
    </tr>
  </tbody>
</table>


