<div class="position-absolute h-100 w-100 form-wrapper d-flex">
  <div class="card m-auto">
    <div class="card-body px-4">
      <h2 class="card-title text-center mt-3 mb-4">User Login</h2>
      <mat-error *ngIf="validLogin">Username/Password is incorrect.</mat-error>
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <mat-form-field class="w-100">
          <input matInput placeholder="Username" formControlName="username">
        </mat-form-field>
        <mat-form-field class="w-100">
          <input matInput placeholder="Password" type="password" formControlName="password">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" class="w-100 my-3">Login</button>
      </form>
      <!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="alert alert-danger text-center px-1" *ngIf="validLogin">Username or Password is incorrect.</div>
        <div class="form-group">
          <label for="username">Username/Email</label>
          <input type="text" formControlName="username" id="username" class="form-control" [ngClass]="{'is-invalid' : submitted && f.username.errors, 'is-valid' : f.username.value != ''}">
          <div class="invalid-feedback" *ngIf="submitted && f.username.errors">
            <div *ngIf="f.username.errors.required">Please enter a valid username.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" formControlName="password" id="password" class="form-control" [ngClass]="{'is-invalid' : submitted && f.password.errors, 'is-valid' : f.password.value != ''}">
          <div class="invalid-feedback" *ngIf="submitted && f.password.errors">
            <div *ngIf="f.password.errors.required">Please enter a valid username.</div>
          </div>
        </div>
        <div class="form-group text-right">
          <a routerLink='/forgotPassword' class="text-muted">Forgot Password?</a>
        </div>
        <button type="submit" class="btn btn-primary w-100 btn-lg">Login</button>
      </form> -->
    </div>
    <div class="text-center mt-2 text-white-50">
      Don't have an account? <a routerLink='/signup' class="text-white-50">Join TRICKYUI</a>
    </div>
  </div>
</div>
