<div class="row">
  <div class="col-xl-12 px-5 py-3">
    <div class="custom-control-inline custom-radio">
      <input type="radio" name="filter" id="low" [(ngModel)]="filterText" value="lowToHigh" class="custom-control-input">
      <label class="custom-control-label" for="low">Low to High</label>
    </div>
    <div class="custom-control-inline custom-radio">
      <input type="radio" name="filter" id="high" [(ngModel)]="filterText"  value="highToLow" class="custom-control-input">
      <label class="custom-control-label" for="high">High to Low</label>
    </div>
    <div class="custom-control-inline custom-radio">
      <input type="radio" name="filter" id="popular" [(ngModel)]="filterText"  value="popularProduct" class="custom-control-input">
      <label class="custom-control-label" for="popular">Popularity</label>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 mb-3" *ngFor="let product of (products | productFilter : filterText)">
    <div class="card">
      <img src="{{product.img}}" class="card-img-top w-100" alt="{{product.name}}">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{'Rs. ' + product.price}}</li>
        <li class="list-group-item"><span class="badge badge-pill"
            [ngStyle]="{'background': product.color, 'color': 'white'}">{{product.color}}</span></li>
      </ul>
    </div>
  </div>
</div>