<div class="position-absolute h-100 w-100 form-wrapper d-flex">
  <div class="card m-auto">
    <div class="card-body px-4">
      <h2 class="card-title text-center mb-5">Signup</h2>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="firstname">First Name</label>
            <input type="text" id="firstname" class="form-control" formControlName="firstName" [ngClass]="{'is-invalid': submitted && f.firstName.errors, 'is-valid' : !f.firstName.errors}">
            <div class="invalid-feedback" *ngIf="submitted && f.firstName.errors">
              <div *ngIf="f.firstName.errors.required">Please enter your first name.</div>
              <div *ngIf="f.firstName.errors.pattern">Please enter a valid name.</div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="lastname">Last Name</label>
            <input type="text" formControlName="lastName" id="lastname" class="form-control" [ngClass]="{'is-invalid': submitted && f.lastName.errors, 'is-valid' : !f.lastName.errors}">
            <div class="invalid-feedback" *ngIf="submitted && f.lastName.errors">
              <div *ngIf="f.lastName.errors.required">Please enter your last name.</div>
              <div *ngIf="f.lastName.errors.pattern">Please enter a valid name.</div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="email">Email Address</label>
            <input type="email" formControlName="email" id="email" class="form-control" [ngClass]="{'is-invalid': submitted && f.email.errors, 'is-valid': !f.email.errors}">
            <div class="invalid-feedback" *ngIf="submitted && f.email.errors">
              <div *ngIf="f.email.errors.required">Please enter your email Id.</div>
              <div *ngIf="f.email.errors.email">Please enter a valid email Id.</div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="mobile">Mobile</label>
            <input type="text" formControlName="mobile" id="mobile" class="form-control" [ngClass]="{'is-invalid' :submitted && f.mobile.errors, 'is-valid' : !f.mobile.errors}" maxlength="10">
            <div class="invalid-feedback" *ngIf="submitted && f.mobile.errors">
              <div *ngIf="f.mobile.errors.required">Please enter your mobile number.</div>
              <div *ngIf="f.mobile.errors.minlength || f.mobile.errors.maxlength">Length should be 10.</div>
              <div *ngIf="f.mobile.errors.pattern">Your mobile number must start 7-9.</div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="gender">Gender</label>
            <select class="form-control" id="gender" formControlName="gender" [ngClass]="{'is-invalid' :submitted && f.gender.errors, 'is-valid' : !f.gender.errors}">
              <option value="">Choose...</option>
              <option value="sex.value" *ngFor="let sex of gender">{{sex.key}}</option>
            </select>
            <div class="invalid-feedback" *ngIf="submitted && f.gender.errors">
              Please select you gender.
            </div>
          </div>
          <div class="form-group col-md-6">
            <div class="mb-2"><label for="mobile">Profession</label></div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="teacher" formControlName="profession" value="Teacher" class="custom-control-input">
              <label class="custom-control-label" for="teacher">Teacher</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="doctor" formControlName="profession" value="Doctor" class="custom-control-input">
              <label class="custom-control-label" for="doctor">Doctor</label>
            </div>
            <div class="invalid-feedback d-b" *ngIf="submitted && f.profession.errors">
              Please select your profession.
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="password">Password</label>
            <input type="password" formControlName="password" id="password" class="form-control" [ngClass]="{'is-invalid' : submitted && f.password.errors, 'is-valid' : !f.password.errors}">
            <div class="invalid-feedback" *ngIf="submitted && f.password.errors">
              <div *ngIf="f.password.errors.required">Please choose a unique password.</div>
              <div *ngIf="f.password.errors.pattern">Password must contain 1 lowercase alphabetical, 1 uppercase
                alphabetical, 1 number and 1 special character. Password must be eight characters or longer.</div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="confirmpassword">Confirm Password</label>
            <input type="password" formControlName="confirmPassword" id="confirmpassword" class="form-control"
              [ngClass]="{'is-invalid' : submitted && f.confirmPassword.errors, 'is-valid' : ((f.password.value == f.confirmPassword.value) && (f.confirmPassword.value != ''))}">
            <div class="invalid-feedback" *ngIf="submitted && f.confirmPassword.errors">
              <div *ngIf="f.confirmPassword.errors.required">Please confirm the password</div>
            </div>
            <div class="invalid-feedback d-b" *ngIf="f.password.value != f.confirmPassword.value">Password do not matched.</div>
          </div>
        </div>
        <div class="form-group">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" formControlName="termsCondition" class="custom-control-input" id="customCheck1"
              [ngClass]="{'is-invalid' : submitted && f.termsCondition.errors}">
            <label class="custom-control-label" for="customCheck1">Accept terms and conditions.</label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary w-100 btn-lg">Signup</button>
      </form>
    </div>
    <div class="text-center mt-2 text-white-50">
      Already a member? <a routerLink='/login' class="text-white-50">Login</a>
    </div>
  </div>
</div>
